*.zip filter=lfs diff=lfs merge=lfs -text
servidor_minecraft/plugins/ItemsAdder/storage/cache/ffmpeg/linux/ffmpeg filter=lfs diff=lfs merge=lfs -text
servidor_minecraft/world/** filter=lfs diff=lfs merge=lfs -text
